@import "../components/bootstrap/less/bootstrap";
@import "material";
@import "sidebar";


body {
  background: transparent;
}

#main-title {
    font-size: 36px;
}

.jumbotron {
    margin-top: 20px;
    padding: 20px;
    text-align: center;

  .page-header {
      margin: 0;
  }
}

#help i {
    font-size: xx-large;
}

#main-view {
    padding-bottom: 30px;
}

.status-label {
    margin-bottom: -10px;
}

#exp-onoff-controls {
    padding-top: 15px;
    margin-bottom: 10px;
}

form[name=settingsForm] {
  .control-group {
      margin: 5px 0 0 0;
  }

  .control-label {
      width: 250px;
  }

  .controls {
      margin-left: 270px;
  }

  .form-actions {
      margin-bottom: 10px;
  }

  input {
      width: 100px;
  }

  select {
      width: 114px;
  }
}

.transparent {
    opacity: 0.4;

    i {
        opacity: 0.4;
    }

    &:hover {
        opacity: 0.8;

        i {
            opacity: 0.8;
        }
    }
}

img.disabled {
  opacity: 0.4;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.btn.camera {
    position: relative;
    left: -40%;
}

.chart {
    min-height: 300px;
    height: 400px;
    display: block;

    a {
        display: none;
    }
}

#resultContainer {
    margin-top: 10px;
    span {
      display: inline-block;
    }
    label {
        display: inline-block;
        margin-left: 10px;
    }
}

#chat {
  bottom: -10px;
  right: 0;
  position: fixed;
  z-index: 1000;

  .panel-heading {
    cursor: pointer;
  }
}
#expChatForm {
  margin-top: 5px;
  margin-bottom: 5px;

  input[name=myMsg] {
    width: 70%;
  }
  button {
    width: 25%;
  }
}
.messageBoard {
  height: 300px;
  overflow: auto;
  margin-top: 5px;

    .chat-message {
        font-size: 10px;
    }
}
.chatMsg {
  margin-top: 2px;
  margin-bottom: 2px;
}
