@import "../components/bootstrap-material-design/less/bootstrap-material-design";
@import "../components/bootstrap-material-design/less/ripples";

.btn-fab-mini {
    padding-top: 15px !important;
    padding-left: 11px !important;
}

.btn-group .btn.active {
    background-color: @blue-grey-100;
}
