<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" manifest="manifest.appcache"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" manifest="manifest.appcache"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" manifest="manifest.appcache"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" manifest="manifest.appcache"> <!--<![endif]-->
    <head>
        <base href="/mercury/">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title translate>Internet Laboratory of Physics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="components/google-code-prettify/bin/prettify.min.css">
        <!--<link rel="stylesheet" href="components/bootstrap-sidebar/dist/css/sidebar.css">-->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body ng-app="mercury" ng-controller="mainCtrl as main">
        <!--[if lt IE 7]>
        <p class="chromeframe" translate>
            You are using very old browser. <a href="http://browsehappy.com/">Update your browser</a>
            or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>,
            to use this site with full experience.</p>
        <![endif]-->

        <!--[if lt IE 9]>
        <script src="components/es5-shim/es5-shim.js"></script>
        <script src="components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <div id="wrapper" ng-class="toggled ? 'toggled' : ''">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <div class="sidebar-nav">
                    <tabset vertical="true" type="pills">
                        <tab ng-repeat="exp in main.expList"
                             heading="{{ exp.display_name }}"
                             select="main.chooseExp(exp.codename)"
                             active="exp.active">
                        </tab>
                    </tabset>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="jumbotron">
                                <div class="row">
                                    <div class="col-xs-1">
                                        <button type="button" class="btn btn-default" ng-click="toggled = !toggled">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="page-header">
                                            <h1 id="main-title" translate>Internet Laboratory of Physics</h1>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <a href="help" tooltip-placement="bottom" tooltip="{{ 'help' | translate }}" id="help"><i class="material-icons">help</i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- main view -->
                            <div id="main-view" ng-view onload="main.initView()"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->


		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-76319630-3', 'auto');
            ga('send', 'pageview');
        </script>

        <!-- components and libraries -->
		<script src="components/jquery/dist/jquery.js"></script>
        <script src="components/angular/angular.js"></script>
        <!--<script src="components/bootstrap-sidebar/dist/js/sidebar.js"></script>-->

        <!-- build:js scripts/plugins.js -->
        <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="components/showdown/src/showdown.js"></script>
        <script src="components/showdown/src/extensions/github.js"></script>
        <script src="components/showdown/src/extensions/prettify.js"></script>
        <script src="components/google-code-prettify/bin/prettify.min.js"></script>
        <script src="components/angular-markdown-new/angular.markdown.js"></script>
        <script src="components/bootstrap-material-design/dist/js/ripples.js"></script>
        <script src="components/bootstrap-material-design/dist/js/material.js"></script>
        <script src="components/angular-gettext/dist/angular-gettext.min.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/modules.js -->
        <script src="components/angular-route/angular-route.js"></script>
        <script src="components/angular-resource/angular-resource.js"></script>
        <script src="components/angular-cookies/angular-cookies.js"></script>
        <script src="components/angular-sanitize/angular-sanitize.js"></script>
        <!-- endbuild -->

		<!-- build:js scripts/libs.js -->
		<script src="libs/jsjac/jsjac.js"></script>
        <script src="libs/patch/jsjac.js"></script>
        <script src="libs/canvasjs/jquery.canvasjs.min.js"></script>
		<!-- endbuild -->


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/init.js"></script>
        <script src="scripts/routes.js"></script>
        <script src="scripts/templates.js"></script>
        <script src="scripts/config/constants.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/client.js"></script>
        <script src="scripts/controllers/fake.js"></script>
        <script src="scripts/controllers/genericExperiment.js"></script>
        <script src="scripts/controllers/chat.js"></script>
        <script src="scripts/controllers/seriesResult.js"></script>
        <script src="scripts/services/xmpp.js"></script>
        <script src="scripts/services/stanza.js"></script>
        <script src="scripts/services/experiment.js"></script>
        <script src="scripts/services/experimentContext.js"></script>
        <script src="scripts/services/experimentUtil.js"></script>
        <script src="scripts/services/config.js"></script>
        <script src="scripts/services/utils.js"></script>
        <script src="scripts/services/language.js"></script>
        <script src="scripts/directives/camera.js"></script>
        <script src="scripts/directives/chart.js"></script>
        <script src="scripts/directives/chat.js"></script>
        <script src="scripts/translations.js"></script>
        <!-- endbuild -->
    </body>
</html>
