
<p>&nbsp;</p><p>&nbsp;</p>
<h1>Prosty klient</h1>

<div class="span6">
    <h2>Doświadczenie</h2>
    <button ng-click="fake_connect()">Fakeroom</button>
    <h2>Wiadomość</h2>
    <div id="sendmsg">
        <form name="sendForm" ng-submit="sendMsg()">
            <div class="row">
                <label class="span1">Do:</label><input type="text" ng-model="sendTo" ng-disabled="!connected" class="span4">
            </div>
            <div class="row">
                <label class="span1">Body:</label><textarea rows="3" cols="80" ng-model="msg" ng-disabled="!connected" class="span4"></textarea>
            </div>
            <div class="row">
                <label class="span1">Labdata xmlns:</label><input type="text" ng-model="labdata.xmlns" ng-disabled="!connected" class="span4">
            </div>
            <div class="row">
                <label class="span1">Labdata type:</label><input type="text" ng-model="labdata.type" ng-disabled="!connected" class="span4">
            </div>
            <div class="row">
                <label class="span1">Labdata dane:</label><textarea rows="3" cols="80" ng-model="labdata.data" ng-disabled="!connected" class="span4"></textarea>
            </div>
            <div class="row">
                <input type="checkbox" ng-model="groupChat" class="offset1" ng-disabled="!connected" /><label>chat</label>
                <button type="submit" class="btn btn-primary" ng-disabled="!sendTo || !connected">Wyślij</button>
            </div>
        </form>
    </div>
    <h2>Logi</h2>
    <div id="console" class="well">
        <dl class="dl-horizontal">
            <span ng-repeat="entry in logs">
                <dt ng-switch on="entry.type">
                    <span ng-switch-when="sent" class="label label-info"> wysłano </span>
                    <span ng-switch-when="received" class="label label-success"> odebrano </span>
                    <span ng-switch-when="operation" class="label"> operacja </span>
                    <span ng-switch-default class="label label-error">?</span>
                </dt>
                <dd>{{ entry.command }}</dd>
            </span>
        </dl>
    </div>
</div>