<!-- Modal -->
<script type="text/ng-template" id="conectionLostWarnning">
    <div class="modal-header">
        <h3 translate>Connection error</h3>
    </div>
    <div class="modal-body">
        <p class="text-center">
            <span translate>Connection error occured - trying to renew it.</span><br/>
            <img src="images/ajax-loader.gif"><br/>
            <span translate>Please be patient.</span><br/>
        </p>
    </div>

</script>

<div class="row">
    <div class="col-md-7 col-xs-12">
        <h2>
            {{ experimentName }}
        <span ng-if="docsUrl">
            <a target="_blank" ng-href="{{docsUrl}}" tooltip-placement="right" tooltip="{{ 'Experiment instruction' | translate }}"><span class="fa fa-book"></span></a>
        </span>
        </h2>
    </div>
    <div class="col-md-5 col-xs-12">
        <div class="pull-right" id="exp-onoff-controls">
            <button class="btn btn-fab btn-raised"
                    ng-disabled="!main.connected || powerProcessing"
                    ng-class="{'btn-primary': !experiment_connected, 'btn-danger': experiment_connected}"
                    ng-click="togglePower()"
                    tooltip="{{ powerLabel | translate }}">
                <i class="material-icons">settings_power</i>
            </button>
        </div>
        <h5 class="status-label" translate>Status</h5>
        <h3><span class="label" ng-class="{'label-success': status === 'operator', 'label-info': status === 'observer', 'label-warning': status === 'disconnected' }">{{ status | translate }}</span></h3>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-7 col-md-5 col-xs-12" ng-show="modes && modes.length > 1">
        <h4 class="pull-left" translate>Experiment&nbsp;modes:</h4>
        <div class="pull-right btn-group" data-toggle="buttons-radio">
            <button type="button" ng-repeat="mm in modes" class="btn" title="{{ mm.value.description }}"
                    ng-click="setMode(mm.key)" ng-model="$parent.currentMode" btn-radio="mm.key">{{ mm.value.label }}</button>
        </div>
    </div>
</div>

<div class="row">
    <div id="settingsPanel" class="col-md-5 col-md-push-7 col-xs-12">
        <form name="settingsForm" id="settingsForm" ng-show="settings" ng-hide="!settings" class="form-horizontal" role="form">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" translate>Measurement settings</h3>
                </div>
                <div class="panel-body">
                    <div ng-repeat="desc in settingsToDisplay" class="form-group" id="{{desc.name}}Container">
                        <div class="col-sm-7">
                            <label tooltip="{{ desc.metadata.description }}">{{ desc.metadata.label }}</label>
                        </div>
                        <div class="col-sm-5">
                            <span ng-bind-html="desc.wrapper"></span>
                            <span class="help-block" style="display: none">info about ERROR</span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" ng-hide="status === 'observer'" ng-show="status === 'operator'">
                    <div class="form-actions form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-embossed btn-primary" ng-show="settings"
                                    ng-enabled="settingsForm.$valid && seriesStatus!=seriesInProgress"
                                    ng-disabled="!settingsForm.$valid || seriesStatus==seriesInProgress"
                                    ng-click="startSeries()"
                                    tooltip="{{ 'Start measurement' | translate }}"><i class="material-icons">play_arrow</i> <span translate>Start</span></button>
                            <button class="btn btn-embossed btn-danger" ng-show="settings"
                                    ng-enabled="seriesStatus==seriesInProgress"
                                    ng-disabled="seriesStatus!=seriesInProgress"
                                    ng-click="stopSeries()"
                                    tooltip="{{ 'Stop measurement' | translate }}"><i class="material-icons">stop</i> <span translate>Stop</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <camera url="cameraUrl" enabled="cameraEnabled"></camera>
    </div>
    <div id="resultsPanel" class="col-md-7 col-md-pull-5 col-xs-12">
        <chart title="chartTitle" data="chartData" label-x="chartXLabel" label-y="chartYLabel"
               type="chartType" ng-show="chartTitle!=null" ng-hide="chartTitle==null">
        </chart>
        <div id="resultContainer"></div>
        <div ng-controller="seriesResultRepositoryCtrl" ng-show="seriesInfo.length > 0">
            <h4 translate>Download results for finished series</h4>
            <ul ng-repeat="si in seriesInfo">
                <li>
                    <a href="{{si.getResultUrl()}}" target="_blank">{{si.getResultName()}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="chat" class="col-md-3 col-sm-4 col-xs-6" ng-set="chatOpened=false">
    <accordion>
        <accordion-group is-open="chatOpened">
            <accordion-heading>Chat <i class="pull-right fa" ng-class="{'fa-chevron-down': chatOpened, 'fa-chevron-right': !chatOpened}"></i></accordion-heading>
            <tabset type="pills">
                <tab heading="{{ 'experiment' | translate }}">
                    <div id="expChatContainer" ng-controller="xmppChatCtrl" chat-url-var="expChatUrl">
                        <chat></chat>
                    </div>
                </tab>
                <tab heading="{{ 'general' | translate }}">
                    <div id="generalChatContainer" ng-controller="xmppChatCtrl" chat-url-var="generalChat">
                        <chat></chat>
                    </div>
                </tab>
            </tabset>
        </accordion-group>
    </accordion>
</div>
