
<p>&nbsp;</p><p>&nbsp;</p>
<h1>Imitacja doświadczenia</h1>

<div class="row">
    <div class="span6">
        <button class="btn" ng-click="connect()" ng-disabled="!connected || fake_connected" ng-enabled="!fake_connected">Podłącz</button>
        <button class="btn" ng-click="getModes()" ng-disabled="!connected || !fake_connected">Pobierz tryby</button>
    </div>
    <div class="span6 btn-group" data-toggle="buttons-radio">
        <button type="button" ng-repeat="(key, value) in modes" class="btn" title="{{ value.description }}" ng-click="setMode(key)" ng-model="$parent.mode" btn-radio="key">{{ value.label }}</button>
    </div>
</div>

<div class="row">
    <div class="span6">
        <form name="settingsForm" ng-show="settings" ng-hide="!settings" class="form-horizontal">
            <fieldset>
                <legend>Ustawienia</legend>
                <div ng-repeat="(name, control) in settings" class="control-group">
                    <label class="control-label">{{ name }}</label>
                    <div class="controls">
                        <span ng-bind-html-unsafe="control"></span>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" ng-show="settings"
                            ng-enabled="settingsForm.$valid && !seriesStarted"
                            ng-disabled="!settingsForm.$valid || seriesStarted"
                            ng-click="startSeries()">Start</button>
                    <button class="btn btn-danger" ng-show="settings"
                            ng-enabled="seriesStarted"
                            ng-disabled="!seriesStarted"
                            ng-click="stopSeries()">Stop</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span6" id="chartContainer" style="height: 300px"></div>
</div>