<div class="row">
    <markdown>
## Instrukcja

Aby wykonać ćwiczenie należy najpierw zalogować się do laboratorium. W zakładce `Logowanie` należy wybrać jedną z opcji logowania.  Możesz zalogować się za pomocą swojego konta  Facebooka lub konta Google. Jeśli takowego nie posiadasz można jeszcze zalogować się za pomocą hasła, ale wówczas należy uprzednio utworzyć konto.

Po zalogowaniu należy zarezerwować termin realizacji ćwiczenia. Klikamy w zakładkę `Laboratorium > Rezerwacja` i po wejściu na stronę wybieramy eksperyment, który chcemy realizować.  W opcji `Wybór sposobu rezerwacji` można dokonać rezerwacji na czas przyszły zaznaczając pole wyboru `Podaj datę rezerwacji` oraz wybierając `Godzina rezerwacji` albo rozpocząć eksperyment  natychmiast po rezerwacji wybierając opcję `Zarezerwuj na teraz`. Aby zakończyć rezerwację należy wybrać czas przez który chcesz wykonywać eksperyment wybierając jedną z opcji w okienku `Czas trwania (w minutach)`. Po wypełnieniu wszystkich pól rezerwacji naciskamy przycisk `Rezerwuj`. W przypadku kiedy dany eksperyment jest już przez kogoś innego zarezerwowany w wybranym przez Ciebie terminie, na górze strony pojawi się informacja na różowym tle, jeśli zaś eksperyment był wolny pojawi się potwierdzenie rezerwacji na tle zielonym.

Aby wykonać eksperyment w zarezerwowanym czasie klikamy w zakładkę `Laboratorium > Doświadczenia` i klikając na zarezerwowane ćwiczenie łączymy się z komputerem obsługującym stanowisko pomiarowe. Klikając na przycisk `Podłącz` uzyskujemy prawo do wykonania eksperymentu, stajemy się *Operatorem*, który ma uprawnienia do sterowania eksperymentem. Możemy uruchomić ćwiczenie przyciskiem `Start`, wybierać i zmieniać parametry pomiarów.

Układ umożliwia obserwacje rezultatów pomiarów uruchomionych przez inną osobę. W terminie, który zarezerwował i realizuje ktoś inny, możemy podłączyć się do eksperymentu jako *Obserwator*. Klikając w zakładkę `Laboratorium > Doświadczenia` i wybierając ćwiczenie, które chcemy obserwować stajemy się widzami - możemy wyłącznie obserwować i uzyskiwać wyniki pomiarów realizowanych przez inną osobę.
    </markdown>
</div>
