<div id="videoContainer" class="panel panel-default text-center">
    <div class="panel-body">
        <img id="cam" class="img-responsive center-block" ng-src="{{data}}" />
        <button type="button" class="btn btn-white btn-fab btn-fab-mini transparent camera" ng-model="enabled" btn-checkbox>
            <i class="material-icons" ng-if="enabled">pause</i>
            <i class="material-icons" ng-if="!enabled">play_arrow</i>
        </button>
    </div>
    <!--<video id="videoStreamTag" autoplay>No HTML5 support</video>-->
</div>
