<div class="panel panel-default">
    <div class="panel-body">
        <div id="{{id}}" class="chart"></div>
    </div>
    <div class="panel-footer form-horizontal">
        <fieldset>
            <legend translate>Chart settings</legend>
            <div class="row">
                <div class="col-sm-9">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                            <span translate>Chart type</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-form" role="menu">
                            <li>
                                <a href="javascript:void(0)" ng-click="type = 'scatter'">
                                    <i ng-class="{'mdi-toggle-radio-button-off': type != 'scatter', 'mdi-toggle-radio-button-on': type == 'scatter'}"></i>
                                    <span translate>scatter</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="type = 'line'">
                                    <i ng-class="{'mdi-toggle-radio-button-off': type != 'line', 'mdi-toggle-radio-button-on': type == 'line'}"></i>
                                    <span translate>linear</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
