<form name="expChatForm" id="expChatForm" class="form-inline" role="form" ng-submit="send()" autocomplete="off">
    <input type="text" name="myMsg" class="form-control input-xxlarge" ng-model="myMsg" />
    <button type="submit" class="btn btn-primary"><i class="mdi-content-send"></i></button>
</form>
<div class="well messageBoard">
    <p class="chatMsg row" ng-repeat="msg in messages">
        <span class="col-sm-3 label label-default">{{msg.user}}</span>
        <span class="col-sm-9 chat-message"><markdown ng-model="msg.text" /></span>
    </p>
</div>
